@font-face {
	font-family: DejaVuSans;
	src:
		local(DejaVu Sans),
		url("DejaVuSans.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: DejaVuSans;
	src:
		local(DejaVu Sans Bold),
		url("DejaVuSans-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: DejaVuSansMono;
	src:
		local(DejaVu Sans Mono Book),
		url("DejaVuSansMono.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: DejaVuSansMono;
	src:
		local(DejaVu Sans Mono Bold),
		url("DejaVuSansMono-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: DejaVuSansMonoCondensed60;
	src: url("DejaVuSansMonoCondensed60.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: DejaVuSansMonoCondensed75;
	src: url("DejaVuSansMonoCondensed75.ttf") format("truetype");
	font-weight: normal;
}

.toc,
#toc,
#p-logo,
#siteSub,
#footer-info-viewcount,
.catlinks {
	display: none !important;
}

div#contentSub:empty {
	display: none;
}

div#mw-panel {
	top: 40px;
}

#mw-head {
	min-width: inherit;
	left: 0;
}

.mw-search-results li {
	padding-bottom: 0.4em;
	font-size: 1em;
	line-height: 1.1em;
}

.page-Special_Search div.mw-search-result-data,
.page-Special_Search p.mw-search-createlink,
.page-Special_Search p.mw-search-pager-bottom,
.page-Special_Search div.mw-search-formheader,
.page-Special_Search #mw-searchoptions {
	display: none;
}

body.skin-vector {
	min-width: 80em;
}

div#bodyContent {
	line-height: 1.2em;
	position: static;
}

#content {
	line-height: 1.2em;
	position: relative;
}

p,
dd {
	line-height: 1.2em;
}

ul li {
	margin-top: 0.3em;
	line-height: 1.2em;
}

h1 {
	font-size: 2em;
}

h3 {
	padding: 1.1em 0 0.2em 0.75em;
}

tt,
code,
pre,
.mw-geshi,
.t-lc,
#wpTextbox1 {
	font-family:
		DejaVuSansMono,
		DejaVu Sans Mono,
		courier,
		monospace !important;
}

code,
table {
	background-color: #0000;
}

strong,
b {
	font-weight: bold;
}

#content a.extiw,
#content a.extiw:active {
	background: url("skins/vector/images/external-link-ltr-icon.png") 100%
		no-repeat !important;
	padding: 0 13px 0 0 !important;
}

table.fmbox,
table.ombox,
div.template-documentation,
fieldset {
	border-radius: 5px;
}

body.page-Main_Page h1.firstHeading,
body.page-Заглавная_страница h1.firstHeading,
body.page-Hauptseite h1.firstHeading,
body.page-Página_principal h1.firstHeading,
body.page-Accueil h1.firstHeading,
body.page-대문 h1.firstHeading,
body.page-Pagina_principale h1.firstHeading,
body.page-メインページ h1.firstHeading,
body.page-Página_principal h1.firstHeading,
body.page-首页 h1.firstHeading,
body.page-Ana_sayfa h1.firstHeading,
body.page-Hlavní_strana h1.firstHeading {
	display: none;
}

.mainpagetable tr.rowtop * {
	line-height: 1em;
}

.mainpagetable tr.row td:first-child {
	border-left: 1px solid silver;
	padding-left: 1em;
}

.mainpagetable tr.row td:last-child {
	border-right: 1px solid silver;
	padding-right: 1em;
}

.mainpagetable tr.rowtop td:first-child {
	border-top-left-radius: 5px;
}

.mainpagetable tr.rowtop td:last-child {
	border-top-right-radius: 5px;
}

.mainpagetable tr.rowbottom td:first-child {
	border-bottom-left-radius: 5px;
}

.mainpagetable tr.rowbottom td:last-child {
	border-bottom-right-radius: 5px;
}

.mainpagetable tr.row td {
	background: #fafafa;
	border-bottom: 1px solid silver;
	padding: 0.5em;
}

.mainpagetable tr.rowtop td {
	background: #f8f8f8;
	border-top: 1px solid silver;
}

.mainpagetable p {
	margin: 0;
}

div.mainpagediv {
	width: auto;
	margin-left: 2em;
	font-size: 85%;
	line-height: 1.2em;
}

div.mainpagediv * {
	line-height: 1.2em;
}

pre,
div.mw-geshi {
	background-color: #f9f9f9;
	border: 1px solid silver;
	border-radius: 5px;
	width: 55em;
	margin: 1em 0;
	padding: 1em;
	overflow: auto;
}

span.mw-geshi {
	white-space: nowrap;
}

.mw-geshi a {
	color: #003080;
}

.t-c {
	background-color: #00000008;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	margin: 0 2px;
	padding: 0 2px;
	display: inline-block;
}

body.ns-10 .t-lc {
	border-bottom: 1px solid #00f;
}

body.ns-10 .t-lc a {
	border-bottom: none;
}

.t-vertical {
	white-space: nowrap;
	width: 1.5em;
	margin: 0 auto;
}

.t-vertical > div {
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	transform-origin: 50% 0;
	float: right;
	-webkit-transform: translate(50%, 50%) rotate(90deg);
	-moz-transform: translate(50%, 50%) rotate(90deg);
	-ms-transform: translate(50%, 50%) rotate(90deg);
	-o-transform: translate(50%, 50%) rotate(90deg);
	transform: translate(50%, 50%) rotate(90deg);
}

.t-li1,
.t-li2,
.t-li3 {
	text-indent: -5em;
	padding: 0.2em 0;
}

.t-li1 > *,
.t-li2 > *,
.t-li3 > * {
	text-indent: 0;
}

.t-li1 {
	padding-left: 3em;
}

.t-li2 {
	padding-left: 5em;
}

.t-li3 {
	padding-left: 7em;
}

.t-li {
	text-align: right;
	width: 5em;
	display: inline-block;
}

.t-lines {
	display: table;
}

.t-lines > span {
	display: table-row;
}

.t-lines > span * {
	line-height: 1em;
}

.t-lines > span:empty:after {
	content: " ";
}

span.texhtml {
	font-style: italic;
}

.t-mfrac > table {
	vertical-align: middle;
	border-spacing: 0;
	text-align: center;
	padding: 0;
	font-size: 0.9em;
	display: inline-block;
}

.t-mfrac > table > tbody > tr > td {
	border: none;
}

.t-mfrac > table > tbody > tr:first-child > td {
	border-bottom: 0.1em solid;
}

.t-mrad {
	white-space: nowrap;
	margin-top: 1px;
}

.t-mrad > span:nth-last-child(3) {
	vertical-align: 0.8em;
	margin-right: -0.5em;
	font-size: 0.7em;
}

.t-mrad > span:nth-last-child(2) {
	font-size: 1.1em;
}

.t-mrad > span:last-child {
	border-top: 0.1em solid;
}

.t-su {
	vertical-align: 0.8em;
	text-align: left;
	margin-bottom: -0.3em;
	font-size: 85%;
	line-height: 1.2em;
	display: inline-block;
}

.t-su-b {
	vertical-align: -0.4em;
}

.t-mparen,
.t-mparen > span {
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
}

.t-mparen > span:first-child,
.t-mparen > span:nth-child(3) {
	font-style: normal;
	line-height: 1.1em;
}

.t-mparen > span:nth-child(2) {
	text-align: center;
	line-height: 1.5em;
}

.t-cc {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 0.3em 1em 0.2em;
	display: inline-block;
}

.t-example-live-link {
	width: 55em;
	display: none;
}

body.ns-10 .t-example-live-link {
	display: none;
}

.t-example .mw-geshi {
	margin: 0 0 1em;
}

.t-member {
	background-color: #f8f8f8;
	border: 1px solid #aaa;
	margin: 1em 0 0;
	padding: 0.2em 1em 1em;
	overflow: hidden;
}

.t-member > h1 {
	font-size: 1.8em;
}

.t-inherited {
	background-color: #f3f3fc;
	border: 1px solid #aaa;
	margin: 1em 0 0;
	padding: 0.2em 1em 1em;
	overflow: hidden;
}

.t-inheritance-diagram,
.t-image {
	border: 1px solid #aaa;
	margin: 1em 0 0.5em;
	padding: 0.2em;
	display: table;
}

.t-plot {
	border: 1px solid #aaa;
	padding: 0.2em;
	font-size: 0.7em;
	display: table;
	position: relative;
}

.t-plot-left {
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 3);
	position: absolute;
	bottom: 5em;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

.t-plot-right {
	white-space: nowrap;
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	filter: progid:DXImageTransform. Microsoft. BasicImage(rotation= 3);
	position: absolute;
	bottom: 7em;
	left: 100%;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

.t-plot-image-left,
.t-plot-image-left-right {
	padding-left: 2em;
}

.t-plot-image-right,
.t-plot-image-left-right {
	padding-right: 2em;
}

.t-plot-bottom {
	padding-left: 6em;
}

body.cpp-navbar div#content,
body.cpp-page-template div#content {
	padding-top: 32px;
}

body.cpp-navbar div#contentSub,
body.cpp-page-template div#contentSub {
	display: none;
}

.t-navbar {
	height: 22px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.t-navbar-head,
.t-navbar-sep {
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-origin: border-box;
	border-bottom: 1px solid silver;
	height: 100%;
	padding-top: 0.4em;
	padding-bottom: 0.3em;
	font-size: 0.9em;
}

.t-navbar-head {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.t-navbar-head:first-child {
	padding-left: 1em;
}

.t-navbar-menu {
	clear: both;
	display: none;
	position: relative;
}

.t-navbar-head:hover > div.t-navbar-menu {
	display: block;
}

.t-navbar-menu > div {
	white-space: nowrap;
	z-index: 1;
	background-color: #fff;
	border: 1px solid silver;
	border-top-width: 0;
	border-radius: 3px;
	padding: 0.5em;
	display: inline-block;
	position: absolute;
}

.t-navbar-menu .editsection {
	opacity: 0.4;
	font-size: 0.7em;
	line-height: 1em;
	display: none;
}

.t-navbar-sep {
	background-image: url("skins/cppreference2/images/navbar-tab.png");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	width: 8px;
}

.t-navbar-sep:first-child {
	background-image: url("skins/cppreference2/images/navbar-inv-tab.png");
	background-position: 0 100%;
	background-repeat: no-repeat;
	border-bottom-width: 0;
}

body.skin-cppreference .t-navbar-sep:first-child,
body.skin-vector .t-navbar-sep:first-child {
	display: none;
}

body.skin-cppreference .t-navbar-head:nth-child(2),
body.skin-vector .t-navbar-head:nth-child(2) {
	padding-left: 1em;
}

.t-navbar-sep:last-child {
	border-bottom-width: 0;
}

.t-page-template {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.t-page-template .editsection {
	opacity: 0.4;
	font-size: 0.7em;
	line-height: 1em;
	display: none;
}

.t-template-editlink {
	float: right;
	position: relative;
}

.t-template-editlink .editsection {
	opacity: 0.4;
	font-size: 0.7em;
	display: none;
	position: absolute;
	top: -2px;
	right: 0;
}

.t-noexcept-full,
.t-noexcept-inline {
	display: inline;
}

.t-noexcept-full .t-dcl-begin,
.t-noexcept-inline .t-dcl-begin {
	padding: 0;
}

.t-noexcept-full .t-noexcept-box {
	padding: 0 0 1em 3em;
}

.t-noexcept-inline > .t-noexcept-box {
	vertical-align: middle;
	padding: 0;
	display: inline-block;
}

.t-rev .t-noexcept-full .t-mark-rev,
.t-rev .t-noexcept-inline .t-mark-rev {
	display: none;
}

.t-cmark {
	color: gray;
	font-size: 0.8em;
}

.t-mark,
.t-mark-rev {
	color: green;
	font-size: 0.8em;
}

.t-mark-rev.t-mark-ts {
	color: #e06000;
}

.wikitable th .t-mark {
	font-weight: normal;
}

.t-spar {
	color: gray;
	font-style: italic;
}

.t-dsc-small {
	font-size: 0.7em;
	font-weight: normal;
	line-height: 130%;
}

.t-dsc-begin {
	border-spacing: 0;
	max-width: 60em;
}

.t-dsc > td:first-child {
	white-space: nowrap;
	width: 0%;
	padding: 0.2em 0 0.25em 0.75em;
	line-height: 1.2em;
}

.t-dsc > td:last-child {
	white-space: normal;
	padding-left: 0.75em;
	line-height: 1.1em;
}

.t-dsc .editsection {
	opacity: 0.4;
	font-size: 0.7em;
	display: none;
}

.t-dsc-hitem > td {
	white-space: nowrap;
	padding: 0.2em 0 0.25em 0.75em;
	font-weight: bold;
	line-height: 1.1em;
}

.t-dsc > td,
.t-dsc-hitem > td {
	border-top: 1px solid #ccc;
}

.t-dsc-header > td {
	padding: 0;
	font-size: 0.8em;
	line-height: 1em;
}

.t-dsc-header > td:first-child > div {
	margin-left: 2em;
}

.t-dsc-see {
	padding: 0.2em 0;
}

.t-dsc-see > span:nth-child(2) > span,
.t-dsc-see > span:first-child {
	font-weight: bold;
}

.t-dsc-see-tt > span {
	font-family:
		DejaVuSansMono,
		DejaVu Sans Mono,
		courier,
		monospace;
}

.t-dsc-named-req-div > div {
	vertical-align: middle;
	padding: 0;
	display: inline-table;
}

.t-dsc-named-req-div > div:first-child {
	font-family:
		Georgia,
		DejaVu Serif,
		serif;
	font-style: italic;
	font-weight: bold;
}

.t-dsc-named-req-div > div:nth-child(2) {
	padding-left: 0.2em;
}

.dsctable td ul,
.dsctable td ol,
.dsctable td dl {
	text-align: left;
}

.dsctable {
	border-spacing: 0;
	max-width: 60em;
}

.dsctable > tbody > tr > td {
	white-space: nowrap;
	border-top: 1px solid silver;
	width: 0%;
	padding: 0.2em 0.1em 0.25em 0.75em;
	line-height: 1.2em;
}

.dsctable > tbody > tr:last-child > td {
	border-bottom: 1px solid silver;
}

.dsctable > tbody > tr > th {
	white-space: nowrap;
	padding: 0.2em 0 0.25em 0.75em;
	font-weight: bold;
	line-height: 1.1em;
}

.t-dcl-begin {
	border-spacing: 0;
	padding: 0.5em 0;
	display: block;
}

.t-dcl-header > td:first-child > div {
	margin-left: 2em;
	font-size: 0.8em;
}

.t-dcl-h > td:first-child > div {
	margin-left: 2em;
	padding-top: 0.7em;
	font-size: 0.8em;
	font-weight: bold;
}

.t-dcl > td:first-child {
	padding: 0.3em 2em 0.2em 1em;
	font-size: 1em;
}

.t-dcl > td:first-child > div p,
.t-dcl > td:first-child > div span {
	margin: 0;
	padding: 0;
	line-height: 1.1em;
}

.t-dcl > td:nth-child(2),
.t-dcl-rev-aux > td:nth-child(2) {
	padding-right: 1.5em;
	font-size: 0.8em;
}

.t-dcl > td:nth-child(3),
.t-dcl-rev-aux > td:nth-child(3) {
	padding: 0;
}

.t-dcl-nopad {
	padding-right: 0 !important;
}

.t-dcl > td,
.t-dcl-h > td,
.t-dcl-sep > td,
.t-dcl-rev > .t-dcl:first-child > td,
.t-dcl-rev > .t-dcl-rev-aux > td {
	border-top: 1px solid #ccc;
}

.t-dcl-sep > td {
	padding: 0;
}

.t-dcl-rev > .t-dcl > td,
.t-dcl-rev > .t-dcl-h > td {
	border-top: 1px solid #e8e8e8;
}

.t-dcl-rev-aux + .t-dcl td {
	border-top: none;
}

.t-dcl-rev-aux ~ .t-dcl ~ .t-dcl td {
	padding-top: 0;
}

.t-dcl-rev .t-dcl:not(:last-child) td {
	padding-bottom: 0;
}

.t-dcl-rev-aux > td:first-child,
.t-dcl-rev-aux > td:nth-child(3) {
	padding: 0;
}

.t-dcl-rev-num > .t-dcl-rev-aux ~ tr:not(.t-dcl-rev-aux) > td:nth-child(2),
.t-dcl-rev-notes > .t-dcl-rev-aux ~ tr:not(.t-dcl-rev-aux) > td:nth-child(3) {
	display: none;
}

.t-sdsc > td:first-child {
	padding: 0.5em 0 0.5em 1em;
	font-size: 1em;
}

.t-sdsc dd,
.t-sdsc p,
.t-sdsc span {
	line-height: 1.1em;
}

.t-sdsc > td:nth-last-child(2) {
	padding-left: 3em;
}

.t-sdsc > td:last-child {
	padding-left: 2em;
}

.t-sdsc-nopad {
	padding-left: 0 !important;
}

.t-sdsc-sep {
	border-top: 1px solid #ccc;
	padding: 0;
}

.t-nv-begin {
	border-spacing: 0;
	width: auto;
	line-height: 1em;
}

.t-nv-h1 > td {
	padding: 0.2em 0 0.2em 1.4em;
	font-size: 1.25em;
	font-weight: bold;
}

.t-nv-h2 > td {
	padding: 0.2em 0 0.2em 1em;
	font-weight: bold;
}

.t-nv-ln-table {
	vertical-align: middle;
	border-spacing: 0;
	padding: 0;
	display: table;
}

.t-nv-ln-table > div {
	display: table-cell;
}

.t-nv-ln-table > div:first-child {
	padding: 0;
	font-family:
		DejaVuSansMonoCondensed75,
		DejaVu Sans Mono,
		courier,
		monospace;
}

.t-nv-ln-table > div:nth-child(2) {
	padding: 0 0 0 0.2em;
}

.t-nv-ln-named-req-table {
	vertical-align: middle;
	border-spacing: 0;
	padding: 0;
	display: table;
}

.t-nv-ln-named-req-table > div {
	display: table-cell;
}

.t-nv-ln-named-req-table > div:first-child {
	padding: 0;
	font-family:
		Georgia,
		DejaVu Serif,
		serif;
	font-style: italic;
}

.t-nv-ln-named-req-table > div:nth-child(2) {
	padding: 0 0 0 0.2em;
}

.t-par-begin {
	border-spacing: 0;
}

.t-par > td {
	vertical-align: top;
	padding: 0.5em 1em 0 0;
}

.t-par > td:first-child {
	white-space: nowrap;
	text-align: right;
	font-family:
		DejaVuSansMono,
		DejaVu Sans Mono,
		courier,
		monospace;
	font-weight: bold;
}

.t-par > td:nth-child(3) {
	width: 100%;
}

.t-par-hitem > td {
	padding: 0.8em 0 0.3em 1em;
	font-weight: bold;
}

.t-par-req {
	padding: 0.5em 1em 0 0;
}

.t-par-req .spacer {
	width: 1.2em;
	display: inline-block;
}

.t-par .editsection {
	opacity: 0.4;
	font-size: 0.7em;
	display: none;
}

.t-rev-begin {
	border-spacing: 0;
	border-collapse: collapse;
}

.t-rev > td {
	padding: 0.3em 0.2em;
}

.t-rev-begin-noborder .t-rev > td {
	padding: 0;
	border: none !important;
}

.t-rev-begin-noborder .t-rev > td:first-child {
	padding-right: 0.2em;
}

.t-dsc .t-rev-begin {
	display: inline-table;
}

.t-rev > td:first-child {
	border: 1px solid silver;
	border-right: none;
}

.t-rev > td:nth-child(2) {
	white-space: nowrap;
	border: 1px solid silver;
	border-left: none;
}

.t-rev > td > p:first-child {
	margin-top: 0;
}

.t-rev > td > p:last-child,
div#content .t-rev > td:first-child > ul:last-child {
	margin-bottom: 0;
}

div#content .t-rev > td:first-child > ul:first-child,
.t-rev > td:first-child > ul:first-child > li:first-child {
	margin-top: 0;
}

.t-rev-inl,
.t-rev-inl > span {
	margin: 0;
	padding: 0;
}

.t-rev-inl {
	border: 1px solid silver;
}

.t-rev-inl.t-rev-inl-noborder {
	border: none;
}

.t-dsc-member-div > div {
	vertical-align: middle;
	padding: 0;
	display: inline-table;
}

.t-dsc-member-div > div:first-child {
	font-family:
		DejaVuSansMono,
		DejaVu Sans Mono,
		courier,
		monospace;
	font-weight: bold;
}

.t-dsc-member-div > div:nth-child(2) {
	padding-left: 0.2em;
}

.t-dsc-member-nobold-div > div:first-child,
.t-dsc-member-nobold-div > div:first-child strong.selflink {
	font-family:
		DejaVuSans,
		DejaVu Sans,
		arial,
		sans-serif;
	font-weight: normal;
}

.t-tr-text {
	display: inline;
}

.t-tr-text:hover {
	-o-transition: background 0.2s ease-in-out 1s;
	background: #eef;
	-webkit-transition: background 0.2s ease-in-out 1s;
	-moz-transition: background 0.2s ease-in-out 1s;
	transition: background 0.2s ease-in-out 1s;
}

.t-tr-dropdown {
	visibility: collapse;
	width: 0;
	height: 0;
	line-height: 1em;
	display: inline-block;
	position: relative;
}

.t-tr-text:hover > .t-tr-dropdown {
	visibility: visible;
	transition: visibility 0 linear 1s;
	-webkit-transition: visibility 0 linear 1s;
	-moz-transition: visibility 0 linear 1s;
	-o-transition: visibility 0 linear 1s;
}

.t-tr-dropdown > div {
	opacity: 0;
	-o-transition: opacity 0.1s linear 0s;
	padding-top: 12px;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
	position: absolute;
	top: 0;
	left: -110px;
}

.t-tr-text:hover > .t-tr-dropdown > div {
	opacity: 1;
	-o-transition: opacity 0.2s ease-in-out 1s;
	-webkit-transition: opacity 0.2s ease-in-out 1s;
	-moz-transition: opacity 0.2s ease-in-out 1s;
	transition: opacity 0.2s ease-in-out 1s;
}

.t-tr-dropdown > div > div {
	background-color: #fff;
	border: 1.5px solid silver;
	border-radius: 5px;
	width: 400px;
	padding: 5px;
	font-size: 0.9em;
	box-shadow: 0 0 3px #888;
}

.t-tr-dropdown-arrow-border {
	border: 8px solid #0000;
	border-bottom-color: silver;
	width: 0;
	height: 0;
	position: absolute;
	top: -3px;
	left: 100px;
}

.t-tr-dropdown-arrow {
	border: 8px solid #0000;
	border-bottom-color: #fff;
	width: 0;
	height: 0;
	position: absolute;
	top: -2px;
	left: 100px;
}

.t-tr-dropdown-h {
	padding-bottom: 0.5em;
	padding-left: 1em;
	font-size: 0.8em;
}

.t-tr-dropdown-notes {
	padding-top: 0.5em;
	padding-left: 1em;
	font-size: 0.8em;
}

#interwiki-completelist {
	font-weight: bold;
}

body.page-Main_Page #ca-delete {
	display: none !important;
}

body.page-Main_Page #mp-topbanner {
	clear: both;
}

#toolbar {
	height: 22px;
	margin-bottom: 6px;
}

div#content ol,
div#content ul,
div#mw_content ol,
div#mw_content ul {
	margin-bottom: 0.5em;
}

ol.references,
div.reflist,
div.refbegin {
	font-size: 90%;
}

div.reflist ol.references {
	list-style-type: inherit;
	font-size: 100%;
}

ol.references li:target,
sup.reference:target,
span.citation:target {
	background-color: #def;
}

sup.reference {
	font-style: normal;
	font-weight: normal;
}

span.citation,
cite {
	word-wrap: break-word;
	font-style: normal;
}

@media screen, handheld {
	span.citation .printonly {
		display: none;
	}
}

.collapseButton {
	float: right;
	text-align: right;
	width: auto;
	font-weight: normal;
}

.wikitable.plainrowheaders th[scope="row"] {
	text-align: left;
	font-weight: normal;
}

.wikitable td ul,
.wikitable td ol,
.wikitable td dl {
	text-align: left;
}

div#content a[href$=".pdf"].external,
div#content a[href*=".pdf?"].external,
div#content a[href*=".pdf#"].external,
div#content a[href$=".PDF"].external,
div#content a[href*=".PDF?"].external,
div#content a[href*=".PDF#"].external,
div#mw_content a[href$=".pdf"].external,
div#mw_content a[href*=".pdf?"].external,
div#mw_content a[href*=".pdf#"].external,
div#mw_content a[href$=".PDF"].external,
div#mw_content a[href*=".PDF?"].external,
div#mw_content a[href*=".PDF#"].external {
	background: url("images/2/23/Icons-mini-file_acrobat.gif") 100% no-repeat;
	padding-right: 18px;
}

.messagebox {
	background-color: #f9f9f9;
	border: 1px solid #aaa;
	width: 80%;
	margin: 0 auto 1em;
	padding: 0.2em;
}

.messagebox.merge {
	text-align: center;
	background-color: #f0e5ff;
	border: 1px solid #c0b8cc;
}

.messagebox.cleanup {
	text-align: center;
	background-color: #efefff;
	border: 1px solid #9f9fff;
}

.messagebox.standard-talk {
	background-color: #f8eaba;
	border: 1px solid #c0c090;
	margin: 4px auto;
}

.mbox-inside .standard-talk,
.messagebox.nested-talk {
	background-color: #f8eaba;
	border: 1px solid #c0c090;
	width: 100%;
	margin: 2px 0;
	padding: 2px;
}

.messagebox.small {
	float: right;
	clear: both;
	width: 238px;
	margin: 0 0 1em 1em;
	font-size: 85%;
	line-height: 1.25em;
}

.messagebox.small-talk {
	float: right;
	clear: both;
	background: #f8eaba;
	width: 238px;
	margin: 0 0 1em 1em;
	font-size: 85%;
	line-height: 1.25em;
}

th.mbox-text,
td.mbox-text {
	border: none;
	width: 100%;
	padding: 0.25em 0.9em;
}

td.mbox-image {
	text-align: center;
	border: none;
	padding: 2px 0 2px 0.9em;
}

td.mbox-imageright {
	text-align: center;
	border: none;
	padding: 2px 0.9em 2px 0;
}

td.mbox-empty-cell {
	border: none;
	width: 1px;
	padding: 0;
}

table.ambox {
	background: #fbfbfb;
	border: 1px solid #aaa;
	border-left: 10px solid #1e90ff;
	margin: 0 10%;
}

table.ambox + table.ambox {
	margin-top: -1px;
}

.ambox th.mbox-text,
.ambox td.mbox-text {
	padding: 0.25em 0.5em;
}

.ambox td.mbox-image {
	padding: 2px 0 2px 0.5em;
}

.ambox td.mbox-imageright {
	padding: 2px 0.5em 2px 0;
}

table.ambox-notice {
	border-left: 10px solid #1e90ff;
}

table.ambox-speedy {
	background: #fee;
	border-left: 10px solid #b22222;
}

table.ambox-delete {
	border-left: 10px solid #b22222;
}

table.ambox-content {
	border-left: 10px solid #f28500;
}

table.ambox-style {
	border-left: 10px solid #f4c430;
}

table.ambox-move {
	border-left: 10px solid #9932cc;
}

table.ambox-protection {
	border-left: 10px solid #bba;
}

table.imbox {
	border-collapse: collapse;
	background: #fbfbfb;
	border: 3px solid #1e90ff;
	margin: 4px 10%;
}

.imbox .mbox-text .imbox {
	margin: 0 -0.5em;
	display: block;
}

.mbox-inside .imbox {
	margin: 4px;
}

table.imbox-notice {
	border: 3px solid #1e90ff;
}

table.imbox-speedy {
	background: #fee;
	border: 3px solid #b22222;
}

table.imbox-delete {
	border: 3px solid #b22222;
}

table.imbox-content {
	border: 3px solid #f28500;
}

table.imbox-style {
	border: 3px solid #f4c430;
}

table.imbox-move {
	border: 3px solid #9932cc;
}

table.imbox-protection {
	border: 3px solid #bba;
}

table.imbox-license {
	background: #f7f8ff;
	border: 3px solid #88a;
}

table.imbox-featured {
	border: 3px solid #cba135;
}

table.cmbox {
	border-collapse: collapse;
	background: #dfe8ff;
	border: 1px solid #aaa;
	margin: 3px 10%;
}

table.cmbox-notice {
	background: #d8e8ff;
}

table.cmbox-speedy {
	background: #ffdbdb;
	border: 4px solid #b22222;
	margin-top: 4px;
	margin-bottom: 4px;
}

table.cmbox-delete {
	background: #ffdbdb;
}

table.cmbox-content {
	background: #ffe7ce;
}

table.cmbox-style {
	background: #fff9db;
}

table.cmbox-move {
	background: #e4d8ff;
}

table.cmbox-protection {
	background: #efefe1;
}

table.ombox {
	border-collapse: collapse;
	background: #f9f9f9;
	border: 1px solid #aaa;
	margin: 4px 10%;
}

table.ombox-notice {
	border: 1px solid #aaa;
}

table.ombox-speedy {
	background: #fee;
	border: 2px solid #b22222;
}

table.ombox-delete {
	border: 2px solid #b22222;
}

table.ombox-content {
	border: 1px solid #f28500;
}

table.ombox-style {
	border: 1px solid #f4c430;
}

table.ombox-move {
	border: 1px solid #9932cc;
}

table.ombox-protection {
	border: 2px solid #bba;
}

table.tmbox {
	border-collapse: collapse;
	background: #f8eaba;
	border: 1px solid #c0c090;
	margin: 4px 10%;
}

.mediawiki .mbox-inside .tmbox {
	width: 100%;
	margin: 2px 0;
}

.mbox-inside .tmbox.mbox-small {
	font-size: 100%;
	line-height: 1.5em;
}

table.tmbox-speedy {
	background: #fee;
	border: 2px solid #b22222;
}

table.tmbox-delete {
	border: 2px solid #b22222;
}

table.tmbox-content {
	border: 2px solid #f28500;
}

table.tmbox-style {
	border: 2px solid #f4c430;
}

table.tmbox-move {
	border: 2px solid #9932cc;
}

table.tmbox-protection,
table.tmbox-notice {
	border: 1px solid #c0c090;
}

table.fmbox {
	clear: both;
	background: #f9f9f9;
	border: 1px solid #aaa;
	width: 100%;
	margin: 0.2em 0;
}

table.fmbox-system {
	background: #f9f9f9;
}

table.fmbox-warning {
	background: #ffdbdb;
	border: 1px solid #bb7070;
}

table.fmbox-editnotice {
	background: none;
}

div.mw-warning-with-logexcerpt,
div.mw-lag-warn-high,
div.mw-cascadeprotectedwarning,
div#mw-protect-cascadeon {
	clear: both;
	background: #ffdbdb;
	border: 1px solid #bb7070;
	margin: 0.2em 0;
	padding: 0.25em 0.9em;
}

body.mediawiki table.mbox-small {
	clear: right;
	float: right;
	width: 238px;
	margin: 4px 0 4px 1em;
	font-size: 88%;
	line-height: 1.25em;
}

body.mediawiki table.mbox-small-left {
	border-collapse: collapse;
	width: 238px;
	margin: 4px 1em 4px 0;
	font-size: 88%;
	line-height: 1.25em;
}

div.noarticletext {
	background: none;
	border: none;
	padding: 0;
}

#wpSave {
	font-weight: bold;
}

.check-icon a.new {
	speak: none;
	display: none;
}

.nounderlines a,
.IPA a:link,
.IPA a:visited {
	text-decoration: none;
}

.listify td {
	display: list-item;
}

.listify tr,
.listify table {
	display: block;
}

.nonumtoc .tocnumber {
	display: none;
}

.nonumtoc #toc ul,
.nonumtoc .toc ul {
	margin: 0.3em 0 0;
	padding: 0;
	line-height: 1.5em;
	list-style: none;
}

.nonumtoc #toc ul ul,
.nonumtoc .toc ul ul {
	margin: 0 0 0 2em;
}

div.user-block {
	background-color: #ffefd5;
	border: 1px solid #a9a9a9;
	margin-bottom: 0.5em;
	padding: 5px;
}

.nowraplinks a,
.nowraplinks .selflink,
span.texhtml,
sup.reference a {
	white-space: nowrap;
}

.template-documentation {
	clear: both;
	background-color: #ecfcf4;
	border: 1px solid #aaa;
	margin: 1em 0 0;
	padding: 1em;
}

.imagemap-inline div {
	display: inline;
}

#wpUploadDescription {
	height: 13em;
}

sup,
sub {
	line-height: 1em;
}

.thumbinner {
	min-width: 100px;
}

div.thumb img.thumbimage {
	background-color: #fff;
}

div#content .gallerybox div.thumb {
	background-color: #f9f9f9;
}

.gallerybox .thumb img,
.filehistory a img,
#file img {
	background: #fff
		url("https://upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png");
}

.ns-0 .gallerybox .thumb img,
.ns-2 .gallerybox .thumb img,
.ns-100 .gallerybox .thumb img,
.nochecker .gallerybox .thumb img {
	background: #fff;
}

#mw-subcategories,
#mw-pages,
#mw-category-media,
#filehistory,
#wikiPreview,
#wikiDiff {
	clear: both;
}

.wikiEditor-ui-toolbar .section-help .page-table td.cell-syntax,
.wikiEditor-ui-toolbar .section-help .page-table td.syntax {
	font-family:
		monospace,
		Courier New;
}

ul.permissions-errors > li {
	list-style: none;
}

ul.permissions-errors {
	margin: 0;
}

body.page-Special_UserLogin .mw-label label,
body.page-Special_UserLogin_signup .mw-label label {
	white-space: nowrap;
}

@media only screen and (device-width <= 480px) {
	body {
		-webkit-text-size-adjust: none;
	}
}

body.mediawiki table.mbox-small-left,
body.mediawiki table.mbox-small {
	width: 500px;
}

.t-rev-since-cxx11 .t-noexcept-inline .t-mark {
	display: none;
}

body,
div#cpp-content-base {
	background-color: #fff;
}

div#content {
	width: 75%;
	margin: auto;
	position: static;
}

html,
body {
	font-family:
		DejaVuSans,
		DejaVu Sans,
		arial,
		sans-serif;
	font-size: 1.1em;
}

.t-navbar {
	height: 1.72em;
	left: auto;
}

tt,
code,
pre,
.mw-geshi,
#wpTextbox1 {
	font-family:
		DejaVu Sans Mono,
		courier,
		monospace !important;
}

.t-dcl-list-see-monospace > span,
.t-sb-list-ln-table tr > td:first-child,
.t-param-list-item > td:first-child,
.t-dcl-member-div > div:first-child {
	font-family:
		DejaVuSansMono,
		DejaVu Sans Mono,
		courier,
		monospace;
}

.t-dcl-member-nobold-div > div:first-child {
	font-family:
		DejaVuSans,
		DejaVu Sans,
		arial,
		sans-serif;
}
